[Unit]
Description=srv.gateway.tt

[Service]
Type=simple
User=tantan
Restart=on-failure
LimitNOFILE=102400

ExecStart=/app/srv.gateway.tt/bin/tantan-gateway-service --config=/app/srv.gateway.tt/conf

[Install]
